.company-address-list{
    display: flex;flex-direction: column; align-items: center; justify-content: flex-start;
    width: 100%; height: fit-content;
    gap: 2px; 
}

.company-address-item{
    position: relative;
    width: 100%; height: fit-content;
    display: grid; grid-template-columns: auto 1fr;
    align-items: center;
    border-radius: 6px;
    padding: 6px 16px ;
    overflow: hidden;
    cursor: pointer;
    gap: 36px;
    border: solid 1px #eee;
}

.company-address-item:hover{
    background-color: rgba(10, 112, 230, 0.18);
    outline: solid 2px rgba(10, 112, 230, 0.12);
}

.company-address-item > section:nth-child(1){
    width:fit-content; height: auto
}

.company-address-item > section:nth-child(2){
    width:100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    gap: 10px;
}

