@keyframes slideInCart {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.bl-cart-footer{
    width: 100%; height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.bl-cart-footer .bl-cart-resume{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
}

.bl-cart-footer .bl-cart-resume .bl-cart-resume-value{
    margin-right: 0;
    margin-left: auto;
    font-size: 18px;
}

.bl-cart-footer > button.cart-budget-button{
    position: relative;
    width: 100%;height: 42px;
    background-color: rgb(252, 252, 252);
    font-size: 18px; font-weight: bold;
    border: none;
    border-radius: 1px;
    margin-bottom: 0;margin-top: auto;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(78, 199, 67);
    color: white;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px #0003;
}

.bl-cart-footer > button.cart-budget-button:hover::after{
    content: ""; position: absolute; top: 0; left: 0;
    width: 100%;height: 100%;
    border-radius: 6px;
    background-color: rgba(25, 110, 221, 0.1);
}
