.company-supply-component{
    width: 100%;
    padding: 8px 12px;
    border-radius: 2px;
    border: solid 1px #ddd;
    background-color: rgb(236, 240, 241);
    border-radius: 4px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 12px;
    cursor: pointer;
} 

.company-supply-component:hover{
    background-color: rgb(245, 245, 245);
} 

.company-supply-component > section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} 

.company-supply-component > section:nth-child(1) {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
} 

.company-supply-component > section span{
   color: #333;
   font-size: 14px;
   line-height: 1.2em;
   text-align: left;
   width: fit-content;
} 

.company-supply-component > section span.company-supply-price{
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}

.company-supply-component > section span.company-supply-minimum_order{
    color: var(--main-color);
}