{
    "presets": [
        "@babel/preset-env", 
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./dist"],
            "alias": {
                "@": "./src",
                "@main": "./src/react-apps/apps/main",
                "@assets": "./src/public/assets"
            }
        }]
    ]
}