@keyframes truckAppears {
    0% { transform: translateX(200%) ;
    opacity: 0; };
    100% {  transform: translateX(0);
    opacity: 1; }
}
  
#head-line{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--main-color); 
    display: flex;
    z-index: 0;
 /*    background: rgb(52,146,221);
    background: linear-gradient(180deg, var(--main-color) 0%, rgb(21, 117, 190) 70%, rgb(1, 114, 201) 100%);  */
}

#head-line > :nth-child(1){
   /*  display: grid;
    grid-template-columns: 1fr 480px;
    grid-template-rows: 1fr; */
    display: flex;
    flex-direction: column;
    max-width: 960px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 16px;
}

#head-line img{
    animation-name: truckAppears;
    animation-duration: 2.2s;
    width: 100%;
    height: auto;
}

.head-line-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    text-transform: unset;
    margin: auto;
    padding: 52px 0;
  
}

.head-line-text-container > h1{
    text-transform: uppercase;
    line-height: 1em;
    margin: 0 0 12px 0;
    margin-bottom: 12px;
    font-size: 52px;
    text-align: left;
    text-align: center;
    text-shadow: 0px 2px 2px  #0004;
}

.head-line-text-container > h3{
    text-align: center;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 300;
    font-weight: normal;
    text-shadow: 0px 1px 1px  #000a;
 }

 .hashUna{
    color: rgb(9, 5, 58);
    font-weight: bolder;
 }

 .head-line-text-container > button{
   padding: 8px 120px;
   height: 46px;
   border: none;
   border-radius: 5px;
   background-color: rgb(255, 255, 255);
   color: var(--main-color);
   margin: auto;
   font-size: 16px;
   font-weight: bold;
   margin-top: 28px;
   cursor: pointer;
   text-transform: uppercase;

 }

 @media only screen and (max-width: 1024px){

    #head-line > :nth-child(1){
        grid-template-columns: 1fr 400px;
       /*  height: 600px; */
    }

}

@media only screen and (max-width: 960px){

   /*  #head-line{
        padding: 40px 0 80px 0 ;
    } */

    #head-line > :nth-child(1){
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
    }


    #head-line img{
        display: none;
 /*        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100px; */
    }

    .head-line-text-container > h1{
       font-size: 48px;
       line-height: .9em;
    }
    .head-line-text-container > h3{
        line-height: 1em;
        font-size: 22px;
        margin: auto;
     }

     #head-line::after{
        /* bottom: calc(-6vw );
        bottom: calc(-5vw + 1px); */
    }
    

    .head-line-text-container > button{
        width: 100%;
    
    }
}