.bl-location-bar{
    background-color: white;
    background: #054785; 
}

.bl-location-bar > div > nav{
    display: flex; align-items: center; justify-content: flex-start;
    height: var(--aux-header-height);
    overflow: hidden;
}


.bl-location-bar > div > nav > :nth-child(2){
    margin-right: 0;
    margin-left: auto;
}

.bl-location-bar > div > nav > button{
    display: flex; gap: 8px;
    flex-direction: row; align-items: center;
    background-color: rgba(122, 122, 122, 0.10);
    color: white;
    height: 100%;
    border: none;
    cursor: pointer;
    color: #333;
    color: white;
    padding: 0 12px;
}

.bl-location-bar > div > nav > button:hover{
    background-color: rgba(230, 230, 230, 0.1);
}

.bl-location-bar > div > nav > button >span{
    font-size: 14px;
    line-height: 1em;
    height: 14px;
    overflow: hidden;
}
/* selector */
.bl-location-bar > div > nav > button > img{
    width: 12px;
    height: 12px;
    filter: invert(1);
}

.bl-duvida-button > img{
    height: 18px!important;
    width: 18px!important;
}