.categories-carousel{}


/* Items */
.carousel-categories-item{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    cursor: pointer;
    gap: 8px;
}

.carousel-categories-item > main {
    position: relative;
    overflow: hidden;
    padding: 8px;
}

.carousel-categories-item > main > section {
    position: relative;
    width: calc(100% - 16px);
    height: 0;
    padding-bottom: calc(100% - 16px);
    border-radius: 20px;
    background-color: var(--main-color);
    margin: auto;
    background: #067ee0;  
    background: linear-gradient(to bottom, #067ee0, #2098e9); 
    box-shadow: 0px 2px 2px 1px #0004;
}

.carousel-categories-item > main > section > img {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    transform: scale(.92);
} 


.carousel-categories-item:hover  main > section > img{
    transform: scale(1);
    transition: all .5s;
}

.carousel-categories-item > footer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-categories-item > footer > span{
    text-transform: uppercase;
    display: block; 
    display: -webkit-box;
    font-size: .8rem;
    text-align: center!important;
    line-height: 1em;
    min-height: 2em;
    max-height: 2em;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: bold;
    color: rgba(45, 45, 49, 0.925);
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .carousel-categories-item > footer > span{
        font-size: .7rem;
        line-height: 1em;
    }
    
}
