.una-forms {
    width: 720px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 8px; padding: 0 8px;
    min-height: 100%;
    justify-content: flex-start;
}

.una-forms.fullfill { width: 100%; overflow: auto; }

.una-forms > section{
    width: 100%;
    height: fit-content;
    display: flex; align-items: center; justify-content: flex-start;
}
.una-forms > section:nth-child(1){
   flex-direction: column;
}

.una-forms > section:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6px;
}

.una-forms > section:nth-child(2) > button{
    width: 100%; height: 38px;
    font-size: 16px; 
}
@media screen and (max-width: 960px) {
    .una-forms {
        width: 100%;
    }
}