.bl-common-content-pool{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px; 

}

/* header */
.bl-common-content-pool > header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 32px;
    height: fit-content;
}

.bl-common-content-pool > header > section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bl-common-content-pool > header > section:nth-child(2){
    display: flex;
    justify-content: flex-end;
}

.bl-common-content-pool > header > section:nth-child(2) button{
    border: none;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.bl-common-content-pool > header > section:nth-child(2) button:hover{
    background-color: rgb(214, 214, 214);
}


/* section */

.bl-common-content-pool > main{
    width: 100%;
    flex-direction: column;
    display: flex; align-items: center; justify-content: center;
}

.bl-common-content-pool > main > .bl-common-content-pool-flow{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 6px;
}

.bl-common-content-pool > main > .bl-common-content-pool-flow.inline{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

@media screen  and (max-width: 1600px){
    .bl-common-content-pool > main>  .bl-common-content-pool-flow{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen  and (max-width: 1440px){
    .bl-common-content-pool > main >.bl-common-content-pool-flow{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen  and (max-width: 1024px){
    .bl-common-content-pool > main > .bl-common-content-pool-flow{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* READ MORE BUTTON */


.una-product-feed >section:nth-child(3){
    width: 100%;
    display: flex; flex-direction: column; align-items: center;
    justify-content: flex-start;
}


.bl-common-content-plus-btn{
    display: flex; align-items: center; justify-content: center;
    width: 56px;  height: 56px;
    font-size: 24px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: white;
    border: none;
    margin-top: 32px;
    cursor: pointer;
    margin: auto;
}