.bl-common-content-pool{
    display: grid; grid-template-columns: 1fr; grid-template-rows: auto;
    width: 100%; gap: 10px; 
}

/* header */
.bl-common-content-pool > header {
    display: grid; grid-template-columns: 1fr auto; align-items: center;
    width: 100%; height: fit-content; 
    column-gap: 8px;
}

/* section */
.bl-common-content-pool > header > section{
    display: flex; flex-direction: row; align-items: center; justify-content: flex-start;
    height: fit-content;
}

.bl-common-content-pool > header > section:nth-child(1){
    width: 100%;
}

.bl-common-content-pool > header > section:nth-child(2){
    justify-content: flex-end; gap: 12px;
    width: fit-content;
}

.bl-common-content-pool > header > section:nth-child(2) > label{
    font-size: 14px;
    font-weight: bold;
}

/* right side */
.bl-common-content-pool > header > section:nth-child(2) > nav{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.bl-common-content-pool > header > section:nth-child(2) > nav button{
    border: none;
    display: flex; align-items: center;
    justify-content: center;
    width: 56px!important; height: 56px !important;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 1px #ddd;
    border: solid 1px #ddd;
    position: relative;
    padding: 12px;

}

.bl-common-content-pool > header > section:nth-child(2) button:after{
    display: none;
    content: "";
    position: absolute;
    top:0; left: 0;
    width: 100%; height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.35);
}

.bl-common-content-pool > header > section:nth-child(2) button:hover::after{
    display: inline;
}

.bl-common-content-pool > main{
    width: 100%;
    flex-direction: column;
    display: flex; align-items: center; justify-content: center;
    gap: 10px;}

.bl-common-content-pool > main > section{
    width: 100%;
}

.bl-common-content-pool > main > .bl-common-content-pool-flow{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    row-gap: 12px;
}

.bl-common-content-pool > main > .bl-common-content-pool-flow.inline{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

@media screen  and (max-width: 1440px){
    .bl-common-content-pool > main >.bl-common-content-pool-flow{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen  and (max-width: 1024px){
    .bl-common-content-pool > main >.bl-common-content-pool-flow{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen  and (max-width: 756px){

    .bl-common-content-pool > main > .bl-common-content-pool-flow{
        grid-template-columns: repeat(2, 1fr);
    }
    /* header */
    .bl-common-content-pool > header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        row-gap: 2px;
    }

    .bl-common-content-pool > header > section:nth-child(2){
        width: 100%;
    }
    .bl-common-content-pool > header > section:nth-child(2) > nav{
        width: 100%;
        justify-content: flex-end;
        gap: 10px;
    }
    .bl-common-content-pool > header > section:nth-child(2) > nav button{
        width: 42px;height: 42px;
    }
}

/* navigator button */
.page-navigator-section{
    width: 100%;
    background-color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 2px;
    padding: 4px 0;
}

.page-navigator-btn{
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    padding: 3px 6px;
}

.page-navigator-btn:hover{
    background-color: aliceblue;
}

.page-navigator-btn.selected{
    outline: solid 2px rgb(70, 140, 233);
}