.landing-pages-search-box{
    padding-top: 64px;
}

.landing-pages-search-box, .landing-pages-search-box > *{
  box-sizing: border-box;
}

.lp-search-box-container{
    width: 100%;   height: fit-content;
    margin: auto;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    border-radius: 5px;

}

.lp-search-box-container > a{
    color: white;
    margin-top: 4px;
}


/* texts */
.lp-search-box-info{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.lp-search-box-info > h2{
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
}
.lp-search-box-info > span{
    display: block;
    font-size: 20px;
    max-width: 800px;
    white-space: normal;
}

/*  */
.lp-search-box-inputs{
    width: 100%;
    height: 52px;
    display: grid; grid-template-columns: 1fr auto;
    max-width: 800px;
    border-radius: 4px;
    overflow: hidden;
}

.lp-search-box-inputs > input{
    width: 100%; height: 100%;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 20px;
    color: rgb(0, 15, 92);
    font-family: 'Varela Round', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.1pt;
}

.lp-search-box-inputs > button{
    width: 80px;
    height: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.head-line-logo{
    display: none;
}

@media only screen and (max-width: 756px){
    .head-line-logo{
        display: block;
        object-fit: contain;
        margin: auto;
        width: calc(80%);
        max-width: 300px;
    }
    .landing-pages-search-box{
        padding-top: 22px;
    }

    .lp-search-box-info > h2{
        font-size: 18px;
    }
    .lp-search-box-info > span{
        font-size: 14px;
    }
}
