@keyframes slideInModal {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.fantastic-root-modal-container{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 999;
    overflow: hidden;
    display: none;
}

.fantastic-root-modal-container.show { 
    height: 100vh;
    display: inline-block;
 }

.fantastic-root-modal-container .overlap-content{
    position: absolute;
    top: 0;
    background-color: rgba(5, 0, 24, 0.25);
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 2xpx red;
}
