

.csv-reader-table-frame-column {
    width: 100%;
    height: fit-content;
    border: solid 1px #ddd ;
}

.csv-reader-table-frame-column.table-warning{
    border: solid 2px red;
}

.csv-reader-table-frame-column > input{
    height: 38px;
    width: 100%;
}


