
.una-panel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;

    border: solid 1px #ddd;
}

.una-panel-container > header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    height: 56px;
    padding: 0 28px;
    font-size: 18px;
    color: #444;
    border-bottom: solid 1px #ddd;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(105, 105, 105, 0.1) 0%, rgba(77, 77, 77, 0.1)17%, rgba(255,255,255,1) 100%);}

.header-side-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0; margin-left: auto;
    width: fit-content;
    height: fit-content;
    gap: 16px;

}

.header-side-content > button{
    width: 36px; height: 36px;
    display: flex; align-items: center; justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    line-height: 1em;
    cursor: pointer;
    background-color: #dbe0e680;
    box-shadow: 0px 0px 1px 1px #0002;
}

.header-side-content > button:hover{
    background-color: #ffffff!important;
    color: #111;
}

/* body */
.una-panel-container > section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 36px 36px 52px;
    max-width: 1224px;
    margin: auto;
    gap: 4px;
}
