.cotacoes-una-header-view{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    background-origin: white;
    border-bottom: solid 1px #ddd;
    border-radius: 8px;
    padding: 6px;
}

.cuhb-company-info{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 6px;
}

.cuhb-company-info > h3{
    font-size: 24px;
    line-height: 1em;
    padding: 0;
    margin: 0;
    color: #111
}

.cuhb-company-info > span:nth-child(2){
    font-size: 18px;
    color: #666;
}







    
