.footer-consideration{
    height: fit-content;
    padding: 10px 0;
    background-color: rgb(44, 44, 44);
}
.footer-consideration p {
    color: rgb(228, 228, 228);
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
