#App{
    
}

#home-page{
    font-family: "Montserrat" 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: #dce7f7;
    padding-bottom: 100px;
}

#home{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}

#sobre{
    width: 100%;
}
#contato{
    width: 100%;
}

.home-section{
    position: relative;
    padding:  80px 16px 0;
}
/*  headline */

@keyframes truckAppears {
    0% { transform: translateX(200%) ;
    opacity: 0; };
    100% {  transform: translateX(0);
    opacity: 1; }
  }
  
#head-line{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--main-color); 
    display: flex;
    padding: 72px 0 0;
    z-index: 0;
    background: rgb(52,146,221);
    background: linear-gradient(180deg, rgb(73, 159, 230) 0%, rgba(25,128,208,1) 70%, rgba(0,124,220,1) 100%); 
}

#head-line::after {
    content: "";
    z-index: 99;
    position: absolute;
    bottom: calc(-5vw + 1px);
    left: 0;
    height: 5vw;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
 

#head-line > :nth-child(1){
    display: grid;
    grid-template-columns: 1fr 460px;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding: 32px 0 64px;
    gap: 16px;
}

#head-line > :nth-child(1) > *{

}

#head-line img{
    animation-name: truckAppears;
    animation-duration: 2s;
    width: 100%;
    height: auto;
}

.head-line-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    text-transform: unset;
    margin: auto;
    padding: 0 20px;
}

.head-line-text-container > h1{
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 12px;
    font-size: 48px;
    text-align: left;
    text-shadow: 0px 2px 2px  #0004;
}

.head-line-text-container > h3{
    line-height: 1em;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    font-weight: normal;
    text-shadow: 0px 1px 1px  #000a;
 }

 .hashUna{
    color: rgb(9, 5, 58);
    font-weight: bolder;
 }

 .head-line-text-container > button{
   padding: 8px 90px;
   height: 46px;
   border: none;
   border-radius: 5px;
   background-color: rgb(255, 255, 255);
   color: var(--main-color);
   font-size: 16px;
   font-weight: bold;
   margin-top: 28px;
   cursor: pointer;

 }

 @media only screen and (max-width: 1024px){

    #head-line > :nth-child(1){
        grid-template-columns: 1fr 400px;
       /*  height: 600px; */
    }

}

@media only screen and (max-width: 960px){

   /*  #head-line{
        padding: 40px 0 80px 0 ;
    } */

    #head-line > :nth-child(1){
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
    }


    #head-line img{
        display: none;
 /*        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100px; */
    }

    .head-line-text-container > h1{
       font-size: 48px;
       line-height: .9em;
    }
    .head-line-text-container > h3{
        line-height: 1em;
        font-size: 22px;
        margin: auto;
     }

     #head-line::after{
        /* bottom: calc(-6vw );
        bottom: calc(-5vw + 1px); */
    }
    

    .head-line-text-container > button{
        width: 100%;
    
    }
}