
.csv-reader-table-frame{
  width: 100%;
  overflow-x: auto;
  max-height: 600px;
  display: flex;
  flex-direction: column; align-items: flex-start; justify-content: flex-start;
}

.csv-reader-table-frame > section.csv-reader-table-frame-content{
  display: grid;
  grid-template-rows: auto;
  height: fit-content;
  width: 100%;
}

.csv-reader-table-frame-content-cell{
  position: relative;
  width: 100%;
  overflow-x: auto;
  border: solid 2px rgb(0, 153, 255);
  min-height: 32px;
}


.csv-reader-table-frame-action-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  width: 32px;
  font-size: 24px;
  cursor: pointer;
}
.csv-reader-table-frame-action-btn.table-warning {
  color: rgb(255, 0, 34);
}


/*  */



.csv-reader-table-frame-column {
  width: 100%;
  height: fit-content;
  border: solid 1px #ddd ;
}

.csv-reader-table-frame-column.table-warning{
  border: solid 2px red;
}

.csv-reader-table-frame-column > input{
  height: 38px;
  width: 100%;
}


