.una-galery-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 2;
    overflow: hidden;
    border-radius: 6px;
    border: solid 1px #ddd;
    position: sticky;
    top: 100px;
}   

.una-galery-container > section.galery-container-photo-frame {
    width: 100%;height: 0;
    padding-bottom: 90%;
    position: relative;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
} 

.una-galery-container > section.galery-container-photo-frame > img{
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
    width: auto; height: 100%;
    object-fit: cover;
    background-color: white;
} 

/* carousel */
.calery-container-carousel{
    display: flex;
    flex-direction: column;align-items: flex-start; justify-content: flex-start;
    position: relative;
    width: 100px; height: 100%;
    background-color: rgb(241, 241, 241);
    border-right: solid 1px #bbb;
}  

.calery-container-carousel > button{
    width: 100%; height: 28px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
}  

section.calery-container-carousel > button > span{
    font-size: 18px;
}
    

/*
section.calery-container-carousel > button > span.clcarrow-up{
    transform: rotate(30deg)!important
}
    
 section.calery-container-carousel > button > span.clcarrow-down{
    transform: rotate(45deg);
} */
    

.una-galery-container > section.calery-container-carousel > nav{
    position: relative;
    width: 100%; height: 100%;
    overflow: hidden;
    border-radius: 6px;
}   

.una-galery-container > section.calery-container-carousel > nav > ul{
    display: flex;flex-direction: column;
    position: absolute; top: 0; left: 0;width: 100%; height: fit-content;
    text-decoration: none;
    list-style: none;
    padding: 2px;
    margin: 0;
    transition: all .1s;
    gap: 2px;
}   

.una-galery-container > section.calery-container-carousel > nav > ul  li{
    position: relative; width: 100%; height: 0; 
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    border: solid 1px #ddd;
}

.una-galery-container > section.calery-container-carousel > nav > ul  li > img{
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
    width: 100%; height: 100%;
    object-fit: cover;
    background-color: white;
}

.una-galery-container > section.calery-container-carousel > nav > ul  li::after{
    content: "";
    position: absolute;
    top: 0; left: 0 ; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .12s;
} 

.una-galery-container > section.calery-container-carousel > nav > ul  li:hover::after{
    background-color: rgba(0, 0, 0, 0);
} 

.una-galery-container > section.calery-container-carousel > nav > ul  li:hover{
    background-color: rgba(0, 0, 0, 0);
    outline: solid 2p rgba(0, 81, 119, 0.507);
} 

@media screen and(max-width: 960px) {
    .una-galery-container > section.calery-container-carousel{
        width: 76px!important; 
    }  
}

