
.company-info-panel{
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center; justify-content: center;
    gap: 36px
}


.company-info-panel > section{
}


.company-info-panel > section:nth-child(1){

}


.company-info-panel-content{
    width: 100%;
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    align-items: flex-start;
    justify-content: flex-start;
}