.una-add-cart-control{
    width: 200px; height: 200px; padding: 2px;
    border: solid 1px red;
}

.una-add-cart-control.fill{
    width: 100%!important;
}
/* 
.una-add-cart-control > button{
    position: relative;
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    gap: 8px; width: 100%; height: 100%;
    font-size: 15px !important;
    font-weight: bold;
    color: white!important;
    border: none;
    background-color: var(--main-color);
    background: rgb(43,157,245);
    background: linear-gradient(180deg, rgb(22, 131, 214) 0%, rgb(4, 113, 197) 40%, rgb(4, 116, 201) 100%);
    cursor: pointer;
    border-radius: 2px;
}
.una-add-cart-control > button:hover::after{
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
}


.una-add-cart-control-counter{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    border-radius: 12px;
    width: 100%;height: 100%;
}

.una-add-cart-control-counter{
}

.una-add-cart-control-counter > button{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
    color: white;
    cursor: pointer;
    opacity: .9;
}
 */