.product-feed-cart-btn{
    position: absolute; top: 8px; right: 8px; 
    width: fit-content; height: fit-content;
    z-index: 1;
}

.product-feed-cart-btn > section{
    position: relative; display: flex; flex-direction: row; align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 2px var(--main-color);
    border-radius: 20px;
    padding: 4px;
    gap: 4px;
}

.product-feed-cart-btn > section.single{
    border-radius: 50%;
}

.product-feed-cart-btn > section > button{
    display: flex; align-items: center; justify-content: center;
    width: 28px; height: 28px;
    color: var(--main-color);
    box-shadow: inset 1px 0px #5554;
    border-radius: 50%;
    cursor: pointer;
    font-size: 26px;
    background-color: var(--main-color);
    color: white;
    opacity: .9;
    border: none;
    box-shadow: 0px 1px 2px 1px #000000aa;
}

.product-feed-cart-btn > section  > button:hover{
    transition: all .05s;
    opacity: 1;
}
