.una-switch-button{
    border: solid 1px #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    overflow: hidden;
}

.una-switch-button button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    background-color: #f5f5f5;
    cursor: pointer;
    border: none;
    padding: 0 12px;
}

.una-switch-button button:hover{
    width: 100%;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
    border: none;
}

.una-switch-button button.usb-selected{
    background-color: rgb(226, 226, 226);
}