.layout-cart-item{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto auto auto;
    padding: 8px 12px;  
    gap: 12px;
}

.layout-cart-item > section{
    overflow: hidden;
    width: 100%;
}   

/* images */
.layout-cart-item > section:nth-child(1){
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 22px;
}

.layout-cart-item > section:nth-child(1)> label{
    line-height: 1.15em;
    font-size: 14px;
    color: #444;
}

.layout-cart-item > section:nth-child(1) > label > span{
     color: black;
 }

 

 .layout-cart-item > section:nth-child(1)> label.hls{
    font-size: 18px;
    line-height: 1.2;
    color: black;
    margin-bottom: 6px;
}



.layout-cart-item > section:nth-child(1) img{
    object-fit: cover;
    width: 108px;  height: 108px;
    overflow: hidden;
    grid-row: span 5;
    padding: 4px;
}


.cart-item-muted{
    color: #888;
    font-size: 12px;
}

.layout-cart-item > section:nth-child(2)  {
    display: flex;
    align-content: center;
    justify-items: center;
}


.layout-cart-item .item-balance{
    grid-column:  span 3;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1;
    width: 100%;
    border-top: dashed 2px #ddd;
    padding-top: 4px;
}

.layout-cart-item .item-balance > label{
    padding: 0;
    margin: 0;
    color: rgb(4, 33, 70);
}

.layout-cart-item .item-balance > label > span{

}

/* .layout-cart-item > section:nth-child(4) > select{
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border: none;

} */

.item-supply{

}

.item-supply.item-supply-warning{
    color: rgb(243, 18, 56)!important;
}



.item-processbar-container{
    grid-column: span 2;
}


