.layout-cart-item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    padding: 12px;  gap: 6px;
    border-bottom: solid 1px #ddd;
}

.layout-cart-item > section{
    overflow: hidden;
}   

/* images */
.layout-cart-item > section:nth-child(1){
    position: relative;
    width: 56px;  height: 0; padding-bottom: 100%;
    overflow: hidden;
}

.layout-cart-item > section:nth-child(1) img{
    position: absolute; object-fit: cover;
    top: 0; left: 0; right: 0; bottom: 0;  width: 100%; height: auto;
}

/* content */
.layout-cart-item > section:nth-child(2){
    width: 100%; height: 100%;
    display: flex; flex-direction: column;
}

.layout-cart-item > section:nth-child(2) > span{
    margin-left: 0; margin-right: auto;
    display: inline;
    text-align: left;
    line-height: 1em;
}


.layout-cart-item > section:nth-child(2) > span:nth-child(1){
    font-size: 15px;
}

.layout-cart-item > section:nth-child(2) > span:nth-child(2){
    color: #888;
    font-size: 12px;
}


/* buttons */
.layout-cart-item > section:nth-child(3){
    padding: 0 3px;
    min-width: 86px;
    display: flex; align-items: center; justify-content: center;
}