.bl-departament-header{
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(225, 235, 243) 0%, rgb(240, 245, 245) 35%, rgb(233, 235, 238) 100%);
    background: #0766be; 
    width: 100%;
}

.bl-departament-header > nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}



.bl-departament-header > nav::-webkit-scrollbar {
    height: 1px;
    background-color: rgba(241, 241, 241, 0.555);
}
 
.bl-departament-header > nav::-webkit-scrollbar-thumb {
    border: 1px solid #fc4a1a;
}

.bl-departament-header > nav> :nth-child(1){ /* body */
    animation-name: appears;
    animation-duration: .5s;
}



.bl-departament-header > div > nav::-webkit-scrollbar {
    height: 0px!important;
}

.departament-dropdown{
    position: relative;
    padding: 0 32px 0 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.departament-dropdown > span:nth-child(1){

}

.departament-dropdown > span :nth-child(1){
    display: flex; flex-direction: row; justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.departament-dropdown .dep-link{
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-size: 16px;
}


.departament-dropdown .dep-link > img{

    width: auto;
    height: 14px;
    filter: invert(1);
    margin-right: 4px;
}


.dep-link:hover::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fc4a1a;

}