.bl-departament-header{
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(225, 235, 243) 0%, rgb(240, 245, 245) 35%, rgb(233, 235, 238) 100%);
    border-bottom: solid 1px #ccc;
}

.bl-departament-header > div > nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.bl-departament-header > div > nav::-webkit-scrollbar {
    height: 0px!important;
}

.departament-dropdown{
    position: relative;
    padding: 0 20px;
    border-right: solid 1px #ccc;
    cursor: pointer;
}

.departament-dropdown:nth-child(1){
    border-left: solid 1px #ccc;
}

.departament-dropdown :nth-child(1){
    display: flex; flex-direction: row; justify-content: flex-start;
    align-items: center;
    color: #333;
    gap: 4px;
}

.departament-dropdown .dep-link{
    white-space: nowrap;
    text-decoration: none;
    color: #333;
}
