
/* INFORMAÇÕES DO ITEM AQUI */
.product-page-info{
    display: flex;
    flex-direction: column;
    padding: 16px; gap: 4px;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px #ddd;
}

/* DESCRIÇÃO */
.product-page-info > header {
    border-bottom: solid 1px #ddd;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-page-info > header .product-page-specification{
    color: #222;
    font-size: 22px; line-height: 1.2em;
    white-space: normal; text-align: left;
}
.product-page-product-description{
    text-align: left;
    font-size: 15px;
    line-height: 1.8em;
    font-weight: bold;

}


.product-page-product-description > span{
    font-weight: normal;
}

/* main */

.product-page-info > main {
    padding-top: 12px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.product-page-supplies{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 12px;
}

.company-supply-no-price {
    font-size: 18px;
    color: #444;
}


/* button */
.product-page-cart-btn{
    height: 38px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: white;
    border: none;
}



 /* stars */

.produto-page-stars{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 24px;
    overflow: hidden;
    margin-bottom: 16px;
}

.produto-page-stars > img{
    width: 18px;
    filter: contrast(.1)
}
