.company-files-panel{
     width: 100%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr;
}

@media screen and (max-width: 960px){
     .company-files-panel{
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
     }
}