nav.nav-selector-wrapper{
    width: 100%;
    grid-column: 1 span ;
    display: flex; flex-direction: column; align-items: flex-start;
    position: relative;
    border-radius: 5px 5px;
    overflow: none;
    padding: 2px;
}

.nav-selector-wrapper .nav-selector-wrapper-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex; flex-direction: row; align-items:center;
    font-size: 16px;line-height: 1em;text-align: left;
    width: 100%;
    padding: 2px;
    font-weight: bold;
    color: #333;
    gap: 5px;
    border-bottom: solid 1px #bbb;
}

.nav-selector-wrapper .nav-selector-wrapper-body {
    width: 100%;
    max-height: 0;
    overflow-y: auto;
    padding: 8px 0 0 0;
}

.nav-selector-wrapper .nav-selector-wrapper-body.open {
    max-height: 400px;
    transition: max-height 0.4s ease-in;
}

.nav-selector-wrapper .nav-selector-wrapper-body::-webkit-scrollbar { width: 4px; }
.nav-selector-wrapper .nav-selector-wrapper-body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 6px;
}




/*  */

.nvsw-icons{
    cursor: pointer;
    padding: 0 5px;
}

.nvsw-icons.down{
    transform: rotate(270deg);
}

.nvsw-icons.up{
    transform: rotate(180deg);
}