
.app-switch-btn {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 24px;
  overflow: hidden;
}

.app-switch-btn > label{
  width: 100%;
}

.app-switch-btn > label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.app-switch-btn-slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 8px;
} 

.app-switch-btn-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 50%;
  left: 4px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
  content: " | | | ";
  color: #888;
  line-height:1.5em;
  text-align: center;
  font-size: 10px;
}

.app-switch-btn input:checked + .app-switch-btn-slider {
  background-color: #5498cf;
}

.app-switch-btn input:focus + .app-switch-btn-slider {
  box-shadow: 0 0 1px #2196F3;
}

.app-switch-btn input:checked + .app-switch-btn-slider:before {
  -webkit-transform: translateX(calc(100% - 8px));
  -ms-transform: translateX(calc(100% - 8px));
  transform: translateX(calc(100% - 8px));
}  