.m-form-row-input{

}

.m-form-row-input.error{

}

.m-form-row-input > input, .m-form-row-input > select{
    width: 100%;
    height: 38px;
    border: solid 1px #ccc;
}

.m-form-row-input.error > input, .m-form-row-input.error > select{
    background-color: rgba(236, 43, 53, 0.15)!important;
    outline: solid 2px rgba(255, 0, 0, 0.486);
}