#adm-register-page, #adm-register-page > * { box-sizing: border-box;}
/* container */
.adm-register-page-container{
    display: flex; flex-direction: column; gap: 16px;height: 100%;
}

/* container > sections */
.adm-register-page-container > header{
    display: flex;flex-direction: row;
    width: 100%;
    gap: 10px;
    border: solid 2px red;
}

.adm-register-page-container .adm-register-page-content{
    height: 100%;
    border: solid 1px blue;
}