#adm-register-page, #adm-register-page > * { box-sizing: border-box;}
/* container */
.adm-register-page-container{
    display: flex; flex-direction: column; gap: 12px;height: 100%;
    padding-top: 22px;
}

/* container > sections */
.adm-register-page-container > header{
    display: flex;flex-direction: row;
    width: 100%;
    gap: 10px;
    height: 42px;
}

.adm-register-page-container .adm-register-page-content{
    height: 100%;
}