.static-blue-lagum {
    --aux-header-height: 22px;
    --header-height-desktop: 58px;
    --header-height-mobile: 58px;
    --menu-width-expanded: 280px;
    --menu-width: 64px;
    position: relative; 
    z-index: 0; width: 100%; height: fit-content;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "layheader layheader layheader" "laycontent laycontent laycontent" "layfooter layfooter layfooter";
    background: var(--main-bg-color);
    border: solid 2px ;
}

.static-blue-lagum > header{
    grid-area: layheader;
    position: absolute; z-index: 2; top: 0;
    width: 100%;
}

.static-blue-lagum > main {
    grid-area: laycontent;
    height: 100%;
    min-height: calc(100vh - var(--header-height-desktop) );
    z-index: 1;
}

.static-blue-lagum > aside{
    box-sizing: border-box;
    position: sticky; z-index: 1;
    top: calc( var(--header-height-desktop) + var(--aux-header-height) ); 
    grid-area: laymenu;
    height: calc( 100vh - var(--header-height-desktop) - var(--aux-header-height));
    overflow: hidden;
}

.static-blue-lagum > footer{
    position: relative; z-index: 2;
    grid-area: layfooter;
    box-shadow: 0px 1px 3px 1px #0002;
}
