.inline-file-input{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    width: 100%;
    border-radius: 4px;
    border: solid 1px #ddd;
}

.inline-file-input > span{
    font-size: 14px;
    width: 100%;
    line-height: 1em;
    white-space: normal;
    text-align: left;
    max-height: 15px;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}

.inline-file-input button{
    display: flex; align-items: center; justify-content: center;
    height: 32px;
    border: none;
    background-color: #dbe0e680;
    box-shadow: 0px 0px 1px 1px #0002;
    border-radius: 4px;
    padding: 0 24px;
    cursor: pointer;
    color: #222;
}

.inline-file-input button:hover{
    background-color: #bcc1c554;
    background-color: #efefef;
    color: #111;
}

button.app-file-input-close{
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    width: 28px; height: 28px;
    font-size: 12px; 
    background-color: rgba(255, 255, 255, 0.144);
    box-shadow: none;
    border: solid 1px #ddd;
}
.app-file-input-close:hover{
   color: #000;
   font-weight: bold;
}