
.import-csv-modal{
     width: 100%;
}

.import-csv-modal > section{}

.import-csv-modal> section:nth-child(1) h2{
     margin: 0;
     margin-bottom: 10px;
}

.upload-frame{
     position: relative;
     width: 100%;
     overflow: hidden;
     margin: auto;
     display: flex;
     flex-direction: column;
     gap: 8px;
     width: 100%; height: fit-content;
}


/* s */