
.import-csv-modal{
     width: 680px;
}

.upload-frame{
     position: relative;
     width: 100%;
     overflow: hidden;
     margin: auto;
     display: flex;
     flex-direction: column;
     gap: 8px;
     width: 100%; height: fit-content;
}

@media only screen and (max-width: 960px){
    
     .import-csv-modal{
          width: 100%;
          max-width: unset
     } 
}
