
.footer-main-content{
    background-color: var(--main-color);
}

.footer-main-content > div:nth-child(1){
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center; justify-content: center; justify-content: center;
    column-gap: 22px;
    color: white;
}

.footer-main-content section{
    display: flex;
    flex-direction: column; align-content: flex-start; justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding: 32px ;
    gap: 10px
}

.footer-main-content section img{
    width: calc(100%);
    height: auto;
    margin: auto;
    max-width: 300px;
}


/* phone aand content */
.footer-main-content section ul.footer-contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    list-style: none;
    margin: auto;
    padding: 0;
 
}

.footer-main-content section ul.footer-contact li{

    width: 100%;
    text-align: center;
   /*  color: white; */
    font-size: 18px;
    padding: 4px 0;
    column-gap: 20px;
}


.footer-main-content section ul.footer-contact li:nth-child(2){
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 4px;
}


 .footer-main-content section ul.footer-contact li span{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    column-gap: 10px;
    line-height: 1em;
  
} 


/* social media */
.footer-main-content section nav.footer-social-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    gap: 12px;
    margin-top: 6px;
    color: black;
}

.footer-main-content section nav.footer-social-nav > *{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
}

@media only screen and (max-width: 960px){
    .footer-main-content > div:nth-child(1) { 
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
    }


    .footer-main-content section{
        padding: 32px  0 0 0 ;
    }

    .footer-main-content section:nth-child(2){
        padding:  0 0 32px 0;
    }

    .footer-consideration p{
        max-width: 300px;
        font-size: 14px;
    } 
}
 