.bl-cep-modal{
    width: fit-content;
    max-width: 340px;
    position: absolute;
    top: 64px; left: 0; right: 0;
    margin: auto;
    z-index: 999999;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 22px 16px;
    box-sizing: border-box;
    gap: 4px;
    box-shadow: 0px 3px 2px #000;
    height: fit-content;
}


.bl-cep-modal > header{
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    width: 100%;
}



.bl-cep-modal > header > button{
    border: none;
}

.bl-cep-modal > main{


}

.bl-cep-modal h4{
    text-align: center;
    margin: 0;
}

.bg-cep-modal-user{
    width: 100%;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    padding-top: 16px;
    border-top: solid 1px #ddd;
}

.bg-cep-modal-user > span{
    color: #444;
    font-size: 16px;
    margin-bottom: 8px;
}


.bg-cep-modal-user > button{
    width: 100%;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}


@media screen and (max-width: 756px) {
    .bl-cep-modal{
        width: 100%;
    }
}