#login-screen{
    position: relative;
    display: flex; flex-direction: column; align-items:center; justify-content: flex-start;
    height: 100%; width: 100%;
    padding: 86px 0 0;
    min-height: var(--doc-height);
    min-width: 100%;
    overflow: hidden;
    background-color: rgb(212, 222, 241);
    background-color: var(--main-light-color);
    background-color: var(--main-light-color);
    z-index: 1;
}

.login-glass{
    display: flex;
    flex-direction: column;
}
.login-glass > .title{
    color: white;
    margin-bottom: 20px;
}

.login-glass > .lead{
    color: rgb(243, 243, 243);

    margin-bottom: 64px;
}


#login-screen::before{
    content: "";
    position: absolute;
    top: 25%;
    left: -10%;
    width: calc(100% + 25%);
    height: 75%;

    background: linear-gradient(-45deg,var(--main-color), var(--main-light-color));
    transform: rotateZ(15deg);
    z-index: -1;
    opacity: .5;
} 

#login-screen::after{
    content: "";
    position: absolute;
    top: 25%;
    right: -10%;
    width: calc(100% + 25%);
    height: 75%;
    opacity: .5;
    background: linear-gradient(45deg,var(--main-color), var(--main-light-color));
    transform: rotateZ(-15deg);
    z-index: -1;
} 



@media only screen and (max-width: 960px) {
    #login-screen{ padding:  56px 16px; }
}
