
.admin-budgetp-item{
    width: 100%;
    animation-name: slideUp;
    animation-duration: .25s;
    animation-timing-function: ease ;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}


.admin-budgetp-item-content{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: flex-start;
    animation-name: slideUp;
    animation-duration: .25s;
    animation-timing-function: ease ;
    border-radius: 6px;
    gap: 10px;
    background-color: rgb(252, 252, 252);
    padding: 6px 14px;
    border: solid 1px #ddd;
}

.admin-budgetp-item-content:hover{
    background-color: rgba(125, 170, 230, 0.15);
    outline: solid 2px rgba(66, 110, 204, 0.3); 
 }

 .admin-budgetp-item-content > section{
    width: 100%;
    height: 100%;
}
 
.admin-budgetp-item-content > section:nth-child(1){
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.admin-budgetp-item-content > section:nth-child(1) > img{
    height: 52px; width: 52px;
    font-size: 28px;
    background-color: #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.admin-budgetp-item-content > section:nth-child(2){
    display: flex; flex-direction: row; align-items: center;  justify-content: flex-start;
}

.admin-budgetp-item-label{
    line-height: 1em; font-weight: bold;
  
    white-space: pre-line;
    text-align: left;
    max-height: 2em;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
