/* Header */
.primary-header{
    position: relative;
    height: var(--header-height-desktop);
    background-color: var(--main-color);
    background: #1563e0;  /* fallback for old browsers */
    background: linear-gradient(180deg, rgb(22, 131, 214) 0%, rgb(4, 113, 197) 35%, rgb(4, 116, 201) 100%);
    background: -webkit-linear-gradient(to right, #097ae4, #267de0, #097ae4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #097ae4, #267de0, #097ae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.primary-header-content{
    height: 100%; width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 22px;
}

.primary-header-content > section {
   height: 100%; width: 100%;
   display: flex; flex-direction: row;  align-items: center;
   justify-content: flex-end;
   column-gap: 16px;
}

.bluelagum-logo-link{
    overflow: hidden;
    width: 200px;
    height: var(--header-height-desktop);
    display: flex;
    align-items: center;
}

.bluelagum-logo-link > img{
    display: inline-block;
    object-fit: contain;
    width: 100%;
    overflow: hidden;
    height: auto;
    margin: auto;
    max-height: 100%;
    margin: auto;
    padding-top: 6px;
}


.primary-header-content .primary-header-title{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;

}

.primary-header-content .primary-header-title > .primary-header-title-label{
    font-size: 16px;
    white-space: normal;
    text-align: left;
    height: 1em;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.primary-header-content .primary-header-title > .primary-header-title-bread-crumbs{
    font-size: 12px;
    white-space: normal;
    text-align: left;
    height: 15px;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}


.primary-header-back-btn:hover{
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: inset 0px 0px 2px 1px #0002;
    color: #000;
}




@media only screen and (max-width: 1024px){

  

    .primary-header{
        height: var(--header-height-mobile);
    }
    .primary-header-content .primary-header-title, .primary-header-back-btn{
        color: white!important;
    }
}


@media only screen and (max-width: 960px){
        
    .bluelagum-logo-link{
        width: 150px;
    }

   

}




