
:root {
    --main-color: #007CDC;
    --main-light-color: #1388e2;
    --main-bg-color: #E3EDFF;
    --second-color: rgb(8, 62, 122);
}

* {  box-sizing: border-box; }

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.flex-row, .flex-column{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}
  
.flex-aln-center { align-items: center;  }
.flex-column{  flex-direction: column; }
.flex-row { flex-direction: row; }

.app-container{
    width: 100%;
    max-width: 1440px;
    padding: 0 16px;
    margin: auto;
}
  
.app-padding{
    padding: 0 32px;
}

  
@media only screen and (min-width: 961px){
    .mobile-only{
        display: none!important;
    }
}

@media only screen and (max-width: 960px){
    .desktop-only{
        display: none!important;
    }
    .app-container, .app-padding { padding: 0 10px; }

}

.ml-auto  {  margin-left: auto; }
.mr-0 { margin-right: 0; }