

/* item */
.una-product-feed .product-feed-item {
    position: relative;
    display: flex; flex-direction: column; gap: 6px;
    grid-template-rows: auto auto auto; 
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    border: solid 1px #ddd;
    box-shadow: 0px 1px 2px #0001;
    border-radius: 8px;
    cursor: pointer;
}

/* image view port */
.product-feed-item > header >.product-feed-item-img-vp{
    position: relative;
    width: 100%;  height: 0; padding-bottom: 75%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);

}


.product-out-of-stock{
    position: absolute;
    top: 0;
    left: -14%;
    bottom: 0;
    margin: auto;
    width: calc(100% + 28%);
    height: 20%;
    background-color: rgba(133, 133, 133, 0.7);
    transform: rotateZ(32deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 2px 3px #0005;
}
.product-feed-item .product-feed-item-img-vp::after{
    content: "";  position: absolute; top: 0; left: 0;
    width: 100%; height: 0; padding-bottom: 40%;
    overflow: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.06) 68%, rgba(255, 255, 255, 0) 100%);
    transition: all .6s;
}
.product-feed-item .product-feed-item-img-vp img{
    position: absolute; top: 0; left:0; right: 0; bottom: 0; margin: auto;
    width: auto; height: 100%; 
    object-fit: cover;
    transition: all .8s;
    background-color: #fff;
    transform: scale(1.09);
}

/* body */
.product-feed-item > main {
    width: 100%; height: 100%;
    display: flex; flex-direction: column; align-items: flex-start;
    gap: 4px; padding: 4px 8px 8px;
}

.product-feed-item > main .produto-specifications{
    width: 100%; height: 46px;
    display: flex; flex-direction: column; align-items: flex-start;
    overflow: hidden;
}

.produto-specifications .produto-nome{
    font-size: 15px; line-height: 16px;
    white-space: normal; text-align: left;
    max-height: 32px;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222!important;
    text-decoration: none;
}

.produto-specifications .produto-ean{
    font-size: 12px; line-height: 14px;
    white-space: normal; text-align: left;
    height: 14px;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888!important;
    text-decoration: none;
}

.product-feed-item-prices{
    width: 100%;
    display: flex; flex-direction: column; align-items: flex-start;
    overflow: hidden;
}
.no-supply{
    text-align: center;
    width: 100%;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.product-feed-item-prices .item-unit-price{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    line-height: 1.4em;
    height: fit-content;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-feed-item-prices .unidade-preco{
    font-size: 12px;
    line-height: 14px;
    color: var(--second-color);
    height: fit-content;
}
.product-feed-item-prices .item-full-price{
    font-size: 13px;
    line-height: 14px;
    color: var(--second-color);
    height: fit-content;
}

.product-feed-item-prices .price-hl{
    font-weight: normal;
    color: var(--main-color);
}

.product-feed-item-prices .text-muted{
    color: #666;
    font-size: 12px;
    width: 100%;
}
   
   

/* HOVERING */
.una-product-feed .product-feed-item:hover {
    outline: solid 3px rgba(56, 119, 255, 0.1); 
} 
.una-product-feed .product-feed-item:hover .product-feed-item-img-vp::after{
    background: linear-gradient(180deg, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.01) 68%, rgba(255, 255, 255, 0) 100%);
}

.una-product-feed .product-feed-item:hover .product-feed-item-img-vp .product-out-of-stock{
    opacity: 0;
    transition: all .6s;
}
.una-product-feed .product-feed-item:hover .product-feed-item-img-vp img{
    box-shadow: 0px 2px 2px #0001;
    transform: scale(1);
}
.product-feed-item .product-feed-item-body .produto-nome:hover{
    text-decoration: underline;
}


/* stars */

.produto-pi-stars{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 24px;
    overflow: hidden;
}

.produto-pi-stars > img{
    width: 18px;
    filter: contrast(.1)
}



.product-feed-item > footer {
    padding: 4px 8px 8px;
}


/* button */

.product-feed-item-add-button{
    display: flex; align-items: center; justify-content: center;
    height: 36px;
    width: 100%;
    box-shadow: inset 1px 0px #5554;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: white;
    border: none;
}

.product-feed-item-add-button:hover{
    transition: all .05s;
    filter: brightness(1.1);
}



.product-feed-item-flex-button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 36px;
    border-radius: 8px;
    overflow: hidden;
    border: solid 1px #ddd;
}


.product-feed-item-flex-button > span{
    text-align: center;
    overflow: auto;
}

.product-feed-item-flex-button > button{
    height: 100%;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: white;
    border: none;
}