
.blue-lake-menu{
    overflow: hidden;
    width: var(--menu-width); height: 100%;
    display: grid; grid-template-columns: 1fr;grid-template-rows: auto 1fr auto;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: solid 1px #ddd;
    color: var(--main-color);
    background-color: white;
}

.blue-lake-menu.show {
    animation-name: menuAppears;
    animation-duration: .2s;
    width: var(--menu-width-expanded); 
}

.blue-lake-menu > section{
    width: 100%; overflow-y: auto; overflow-x: hidden;
}

.blue-lake-menu > section::-webkit-scrollbar {
    width: 2px;
    background-color: var(main-color);
}

.blue-lake-menu > section:nth-child(1).blue-lake-menu-header{
    padding: 4px 12px;
    display: flex; flex-direction: row; align-items: center; justify-content: center;
}

.blue-lake-menu > section:nth-child(1).blue-lake-menu-header .blue-lake-menu-header-logo{
    display: none;  
}

.blue-lake-menu.show > section:nth-child(1).blue-lake-menu-header{
    align-items: center;
    justify-content: flex-end;
}

.blue-lake-menu > section:nth-child(2) {
    padding:  0;
    height: 100%;
    display: flex;
}

.blue-lake-menu > section:nth-child(2) ul{
    width: 100%;
    display: flex; flex-direction: column; align-items: center; justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    padding: 0; gap: 2px;
    margin-bottom: 0;
    margin-top: auto;
}

.blue-lake-menu-toggle-button{
    display: flex; align-items: center; justify-content: center; 
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    font-size: 22px;
    border: solid 1px #ccc;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (max-width: 1444px){  
    .blue-lake-menu.show { 
        position: fixed;
        top: calc( var(--header-height-desktop) + var(--aux-header-height) );
        height: calc( 100vh - var(--header-height-desktop) - var(--aux-header-height)); 
    }  
}



@media only screen and (max-width: 1024px){  


    .blue-lake-menu > section:nth-child(2) ul{
        margin-bottom: auto;
        margin-top: 0;
    }
    
    .blue-lake-menu-toggle-button{
        width: 32px; height: 32px;
    }

    .blue-lake-menu > section:nth-child(1).blue-lake-menu-header{
        height: calc( var(--header-height-desktop) + var(--aux-header-height) );
    }

    .blue-lake-menu{ 
        display: none; 
    } 
    .blue-lake-menu.show { 
        display: grid; 
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgb(225, 235, 243) 0%, rgb(240, 245, 245) 95%, rgb(232, 224, 248) 100%);
        top: 0;
        height: 100vh;
    }  
    .blue-lake-menu.show > section:nth-child(1).blue-lake-menu-header .blue-lake-menu-header-logo{
        width: 100%;
        display: flex; align-items: center; justify-content: flex-start;
    }
    .blue-lake-menu.show > section:nth-child(1).blue-lake-menu-header .blue-lake-menu-header-logo > img{
        width: 160px;
    }
}

@media only screen and (max-width: 760px){
  
    .blue-lake-menu.show { 
        width: 80vw;
    }  
}

