
.csv-reader-table-frame{
  width: 100%;
  overflow-x: auto;
  max-height: 600px;
}

.csv-reader-table-frame > table , .csv-reader-table-frame > table  th, .csv-reader-table-frame > table td {
    border: 1px solid #ddd;
    border-radius: 6px;
    min-height: 42px;
}

.csv-reader-table-frame > table {
    width: 100%;
    border-collapse: collapse;
}

