#departamento-content-grid{
    display: grid;
    grid-template-columns: 272px 4fr;
    grid-template-rows: 1fr;
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 160px;
}
/* 
#departamento-content-grid > section{
  
} */


@media screen and (max-width: 960px) {
    #departamento-content-grid{
        grid-template-columns: 1fr;
    }
}