/* Header */
.bls-header{
    height: var(--header-height-desktop);
}

.bls-header-content{
    height: 100%; width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 12px;
}

.bls-header-content > section {
   height: 100%; width: 100%;
   display: flex; flex-direction: row;  align-items: center;
   justify-content: flex-end;
   column-gap: 12px;
}



.bls-logo-link > img{
    width: 200px; height: auto; margin: auto;
    padding-top: 6px;
}

/* toggle button */

.bls-toggle-button{
    display: flex; align-items: center; justify-content: center; 
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    font-size: 32px;
    color: #efefef;
    border: solid 1px #efefef;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bls-toggle-button:hover{
    color: white;
    border: solid 1px #eee;
    color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
}

.bls-logo-link{
    display: none;
}

.bls-aside-header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}


.bls-aside-header-nav > a{
    color: white;
    cursor: pointer;
    font-size: 18px;
}

/*  */

.aside-user{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.aside-user > img:nth-child(1){
    width: 28px;
    filter: brightness(0) invert(1);
}


.aside-user > div{
    display: flex;flex-direction: column;align-items: flex-start;justify-content: center;
    gap: 2px;
}

.aside-user > div > span:nth-child(1){
    font-size: 15px;
    height: 15px;
    overflow: hidden;
    font-weight: bold;
    white-space: normal;
    text-overflow: ellipsis;
}

.aside-user > div > span:nth-child(2){
    font-size: 12px;
}

/*  */

@media only screen and (max-width: 960px){
    .una-header-user-button > div:nth-child(1){
        display: none;
    }   
}

/*  */
@media only screen and (min-width: 1024px){
    .bls-toggle-button{
        display: none;
    }
    .bls-logo-link{
        display: flex;  justify-content: center;  align-items: center;
        margin: auto;
        justify-self: center;
    }
}