.forbidden-cart-modal{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 280px;
    gap: 12px;
}

.forbidden-cart-modal > h5 {
    width: 100%;
    text-align: center;
    font-weight: normal;
    color: #333;
}

.forbidden-cart-modal > button {
    margin: auto;
}

.forbidden-cart-modal > button:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 36px;
}
@media screen and (max-width:480px) {
    .forbidden-cart-modal{
        width: 100%;
    }
    
}